
<h2><%= link_to "Try our interactive quiz and discover more!", new_student_path %> </h2>


<h3>Learn about cyberbullying from real people
and see how you can make a difference</h3>


	<iframe width="210" height="157"
	src="https://www.youtube.com/embed/-5PZ_Bh-M6o">
	</iframe>
	<iframe width="210" height="157"
	src="https://www.youtube.com/embed/BrqRRQD-sz0">
	</iframe>

<h3><%= link_to "Take a Selfie to Get Involved", sign_path("1")%></h3>
<br>
