<h1> Signs of Change </h1>

<h2>Adult</h2>


<p>Statistics</p>
<ul>
  <li>Nearly one in four students say they have been the victim of cyberbullying at some point.</li>
  <li>Joseph Wright, a pediatrician at Children's National Health System in Washington, D.C., says that by third grade, 75% of kids have been exposed to bullying, the majority as bystanders. "It's a pervasive behavior," he says.</p>
</ul>

<p>Personal stories/embedded youtube videos</p>

<p>external resources</p>
