<h1>I am: </h1>

<span id="adult-logo"><%=link_to(image_tag("image_tag.jpg"), adults_path)%></span>

<span id="students-logo"><%=link_to(image_tag("image_tag2.jpg"), students_path)%></span>

<div class="sign">
<p><strong>SIGNS OF CHANGE</strong> is an initiative by USA Today and StopCyberBullying.org to shed light on the new face of bullying in America.</p>

<p>The <strong>student portal</strong> is designed for kids and young adults ages 9-18,
and features an interactive quiz, tips for dealing with tricky situations,
and help with handling conflicts.</p>
<p>The <strong>adult portal</strong> is designed for parents, teachers, and the general
public with content tailored to handling victims of cyberbullying and
teaching positive social interaction.</p>
</div>
