
<br>
<div class="selfie"><%= link_to(image_tag("take_a_selfie_image.jpg"), new_sign_path ) %></div>

<br>


  <% @signs.reverse_each do |sign| %>
    <%= image_tag("#{sign.sign_source}", class: "thumbnail") %>
  <%end%>

<br>
  <h1><%= link_to(image_tag("resources_button.jpg"), students_path) %></h1>

<footer><div id="footer-wrap"><%= image_tag("student_footer.jpg", :alt => "student_footer") %></div></footer>
