/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   color: #555;
   font-family: 'Lato', 'Arial', sans-serif;
   height: 50%;
   background: #d8d8d8;
}

.selfie {
  margin-top: 10px;
  padding: 20px 0 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}
.selfie p{
  text-align: center;
  color: black;
}

.statistics {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 20px;
}

.small {
  font-size: 12px;
}

.selfie img{
  width: 250px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.student_header a img{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}
.purple {
  color: #9900CC;
}

span#students-logo a img{
  padding-left: 30px;
}

span#adult-logo a img{
  padding-left: 100px;
}

.age li{
  display: inline;
  position: relative;
}

.main_header img{
  width: 40px;
}

.container {
  text-align: left;
  padding:15px 40px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  color: #6B6C70 ;
  font-size: 19px;
  background: white;
}

div#footer-wrap img {
  padding-top: 20px;
  max-height: 500px;
  width: 100%;
}

.new-student .student-button {
  color: white;
  text-align: center;
  width: 180px;
  height: 180px;
  font-size: 35px;
  border-radius: 50%;
  background: #9900CC;
  white-space:pre-wrap;
  border:0;

}

input[type='submit'] {
  float: right;
  margin: 10px 35% 0 0;
}

.thumbnail {
  height: 42px;
  width: 42px;
}

.thumbnail:active {
    position: fixed;
    top: 100px;
    left: 300px;
    width:500px;
    height:auto;
    display:inline;
    z-index:999;

}

.sign p{
  font-size: 18px;
}

.sign p:nth-child(1){
  font-size: 28px;
}

.student select{
  font-size: 1em;
  margin-left: 50px
}
.take-quiz {
  display: inline-block;
}

.take-quiz a{
  color: white;
  text-align: center;
  width: 100px;
  height: 100px;
  font-size: 30px;
  border-radius: 50%;
  background: #9900CC;
  white-space:pre-wrap;
  border:0;
  padding:25px;
  display: inline-block;
  float: right;
  margin-right: 5px;
  text-decoration: none;
}
.student-location img{
  width: 100%;
}

.adult_header a img{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: block;
}

.video-resources {
  border-bottom: 1px solid black;
  width: 100%;
  padding: 30px 0 30px 0;
}

.video-resources iframe{
  display: inline-block;
  margin-left: 50px;
}

.question .question-num-10 {
  color: white;
  line-height: 100px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  border-radius: 100%;
  background: #9900CC;
  border:0;
  white-space: pre-wrap;
  display: block;
}

.submit-button {
  color: white;
  text-align: center;
  width: 150px;
  height: 150px;
  font-size: 25px;
  border-radius: 50%;
  background: #9900CC;
  white-space:pre-wrap;
  border:0;
  float: right;
  display: inline;
}

.question .question-num-9 {
  color: white;
  line-height: 100px;
  text-align: center;
  width: 100px;
  height: 100px;
  font-size: 50px;
  border-radius: 100%;
  background: #9900CC;
  border:0;
  white-space: pre-wrap;
  display: block;
}

.question-box {
  width: 100%;
  display: inline-block;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.story-video {
  float:left;
  max-width: 45%;
  display: inline-block;
}

.story-text {
  float: right;
  width: 45%;
  display: inline-block;
}

.storyhead {
  float: right;
  padding:15px 40px;
}

div#header-wrap a img {
  width: 100%;
}

div#student_img a img{
  position: absolute;
  margin: auto;
}

div#info {
  display: inline-block;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid black;
}


div#info img{
  display: inline-block;
  float: right;
  max-height: 300px;
  width: 350px;
}

.new-sign {
  display: inline-block;
  background: white;
}


div#story {
  display: inline-block;
  border-bottom: 1px solid black;
}

.story1{
  border-bottom: 1px solid black;
}

.story{
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 20px;
}
