@import "bootstrap-sprockets";
@import "bootstrap";


 body {
   /*position: relative;*/
   color: #555;
   font-family: 'Lato', 'Arial', sans-serif;
   height: 50%;
 }

div#student_img a img{
        position: absolute;
        margin: auto;

        display: inline-block;
        left: 35%;
        top: 40%;
        margin-left: -50px; /*half the image width*/
        margin-top: -50px; /*half the image height*/
}



span#adult-logo a img{
        padding-left: 10px;


}
span#students-logo a img{
        padding-left: 100px;

}

div#header-wrap a img {
  width: 100%;
}

.age li{
  display: inline;
  position: relative;
}

.main_header image_tag{
  width: 40px;
}
.container {

    text-align: left;
    padding:15px 40px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    color: #6B6C70 ;
    font-size: 19px;


}
div#footer-wrap img{
  max-height: 500px;
  width: 100%;
}

.question .question-num-9 {
  color: white;
  line-height: 100px;
  text-align: center;
  width: 100px;
  height: 100px;
  font-size: 50px;
  border-radius: 100%;
  background: #9900CC;

  border:0;
  white-space: pre-wrap;
  display: block;
}
.question .question-num-10 {
  color: white;
  line-height: 100px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  border-radius: 100%;
  background: #9900CC;
  border:0;
  white-space: pre-wrap;

  display: block;
}


.question .submit-button {
  color: white;
  text-align: center;
  width: 100px;
  height: 100px;
  font-size: 16px;
  border-radius: 50%;
  background: #9900CC;
  white-space:pre-wrap;
  border:0;
  float: right;
}

.new-student .student-button {
  color: white;
  text-align: center;
  width: 100px;
  height: 100px;
  font-size: 20px;
  border-radius: 50%;
  background: #9900CC;
  white-space:pre-wrap;
  border:0;
}

input[type='submit'] {
  float: right;
  margin: 10px 35% 0 0;
  }


.thumbnail {
  height: 42px;
  width: 42px;
}

.thumbnail:active {
    position: fixed;
    top: 100px;
    left: 300px;
    width:500px;
    height:auto;
    display:inline;
    z-index:999;

}
