@import "bootstrap-sprockets";
@import "bootstrap";


 body {
   /*position: relative;*/
   color: #555;
   font-family: 'Lato', 'Arial', sans-serif;
   height: 50%;
 }

.student_header a img{
      margin-left: auto;
      margin-right: auto;
       width: 50%;
        display: block;
}

.adult_header a img{
      margin-left: auto;
      margin-right: auto;
       width: 75%;
        display: block;
}
.take-quiz a{
  color: white;
  text-align: center;
  width: 100px;
  height: 100px;
  font-size: 25px;
  border-radius: 50%;
  background: #9900CC;
  white-space:pre-wrap;
  border:0;
  padding: 15px;
  display: inline-block;
  float: right;
  margin-right: 50px;
  text-decoration: none;
}

span#adult-logo a img{
        padding-left: 20px;
        display: inline-block;
        margin-bottom: 30px;


}
span#students-logo a img{
        float: right;
        padding-right: 20px;
        display: inline-block;
        margin-bottom: 30px;
}
.student-location img{
  width: 400px;
}

div#header-wrap a img {
  width: 100%;
}

.age li{
  display: inline;
  position: relative;
}

.main_header image_tag{
  width: 40px;
}
.container {

    text-align: left;
    padding:15px 40px;
    max-width: 680px; 
    margin-left: auto;
    margin-right: auto;
    color: #6B6C70 ;
    font-size: 19px;


}
div#footer-wrap img{
  margin-top: 50px;
  max-height: 400px;
  width: 100%;
}

.question .question-num-9 {
  color: white;
  line-height: 100px;
  text-align: center;
  width: 100px;
  height: 100px;
  font-size: 50px;
  border-radius: 100%;
  background: #9900CC;
  border:0;
  white-space: pre-wrap;
  display: block;
}
.question .question-num-10 {
  color: white;
  line-height: 100px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  border-radius: 100%;
  background: #9900CC;
  border:0;
  white-space: pre-wrap;
  
  display: block;
}

 
.question .submit-button {
  color: white;
  text-align: center;
  width: 100px;
  height: 100px;
  font-size: 16px;
  border-radius: 50%;
  background: #9900CC;
  white-space:pre-wrap;
  border:0;
  float: right;
}

.new-student .student-button {
  color: white;
  text-align: center;
  width: 180px;
  height: 180px;
  font-size: 40px;
  border-radius: 50%;
  background: #9900CC;
  white-space:pre-wrap;
  border:0;
  float: left;
  margin-left: 30px;

}
.purple {
  color: #9900CC;
}
input[type='submit'] {
  float: right;
  margin: 10px 35% 0 0;
  }


  .thumbnail:active {
    position:absolute;
    top: 125px;
    left: 300px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;

}
.sign p{
  font-size: 18px;
}
.sign p:nth-child(1){
  font-size: 28px;
}
.student select{
  font-size: 1em;
  margin-left: 50px
}
